In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Advertisments.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TV Ad Budget ($)         200 non-null    float64
 1   Radio Ad Budget ($)      200 non-null    float64
 2   Newspaper Ad Budget ($)  200 non-null    float64
 3   Sales ($)                200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [5]:
df.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
0             230.1                 37.8                     69.2       22.1
1              44.5                 39.3                     45.1       10.4
2              17.2                 45.9                     69.3        9.3
3             151.5                 41.3                     58.5       18.5
4             180.8                 10.8                     58.4       12.9

In [7]:
df.corr()

,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
TV Ad Budget ($),1.000000,0.054809,0.056648,0.782224
Radio Ad Budget ($),0.054809,1.000000,0.354104,0.576223
Newspaper Ad Budget ($),0.056648,0.354104,1.000000,0.228299
Sales ($),0.782224,0.576223,0.228299,1.000000

In [12]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [13]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2,random_state=0)

In [15]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [17]:
model.fit(xtrain,ytrain)
print(f"Coef:- {model.coef_}")
print(f"intercept:- {model.intercept_}")

Coef:- [ 0.04458402  0.19649703 -0.00278146]
intercept:- 2.99489303049533

In [18]:
y_pred = model.predict(xtrain)

In [19]:
from sklearn.metrics import r2_score,accuracy_score,mean_absolute_error

In [20]:
r2_score(ytrain,y_pred)

0.9067114990146383

In [23]:
y1=model.predict(xtest)
r2_score(ytest,y1)

0.8601145185017868

In [24]:
mean_absolute_error(ytrain,y_pred)

1.2131871622729427

In [26]:
accuracy_score()

TypeError: accuracy_score() missing 1 required positional argument: 'y_pred'