In [3]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp39-cp39-win_amd64.whl (7.9 MB)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\lenovo\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.32
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp39-cp39-win_amd64.whl (7.9 MB)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\lenovo\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.32

In [29]:
import mysql.connector
db= mysql.connector.connect(host="localhost",user="root",password="root",database="flight")

In [17]:
con1=db.cursor()

In [24]:
sql_query="select * from flight.passenger"
con1.execute(sql_query)

In [23]:
con1.fetchall()

[('Sakharam', 'Rajegore', 'sakha@', 4),
 ('james', 'jorde', 'jorde@', 4),
 ('mikel', 'smith', 'smith@', 4),
 ('john', 'kahli', 'jon@', 7)]

In [27]:
#Data Manipulation
sql_insert="insert into passenger values('sp','patil','patil@',7)"

In [59]:
db= mysql.connector.connect(host="localhost",user="root",password="root",database="flight")
con2=db.cursor()

In [60]:
con2.execute(sql_insert)

In [65]:
#commit is used for to insert, update,delete to commit the changes..
db.commit

In [62]:
#display the changes
sql_select="select * from flight.passenger"

In [63]:
con2.execute(sql_select)

In [64]:
a=con2.fetchall()
for i in a:
    print(i)

('Sakharam', 'Rajegore', 'sakha@', 4)
('james', 'jorde', 'jorde@', 4)
('mikel', 'smith', 'smith@', 4)
('john', 'kahli', 'jon@', 7)
('sp', 'patil', 'patil@', 7)

In [ ]:
#