In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#!pip install seaborn

In [3]:
university=pd.read_csv('universities_data.csv')

In [4]:
colRename={"Name":"University_name","Applicants total":'App_total',
"Admissions total":'Admi_total',
"Enrolled total":'Enroll_total',
"Number of students receiving an Associate's degree":'NoStudRecAssDegree',
"Number of students receiving a Bachelor's degree":'NoStudRecBachDegree',
"Number of students receiving a Master's degree":'NoStudRecMasterDegree',
"Number of students receiving a Doctor's degree":'NoStudRecDocterDegree',
"Number of students receiving a certificate of less than 1-year":'NOStudfor1yrCerti',
"Number of students receiving a certificate of 1 but less than 4-years":'NoOfStudLess4Certi',
"Number of students receiving a Postbaccalaureate or Post-master's certificate":'NoStudPostMasterCerti',
"Percent admitted - total":'PercentAdmitted-total',
"Admissions yield - total":'AdmissionsYield-total',
"Tuition and fees, 2010-11":'Tuition&fees-2010-11',
"Tuition and fees, 2011-12":'Tuition&fees-2011-12',
"Tuition and fees, 2012-13":'Tuition&fees-2012-13',
"Tuition and fees, 2013-14":'Tuition&fees-2013-14',
"Total price for in-state students living on campus 2013-14":'totalPriceInStateStud2013-14',
"Total price for out-of-state students living on campus 2013-14":'totalPriceInStateStud2013-14',
"State abbreviation":'State_abbreviation',
"Graduation rate - Bachelor degree within 4 years, total":'Graduation%within4yrBachlor',
"Percent of freshmen receiving any financial aid":'PFRecAnyFinancialAid',
"Percent of freshmen receiving student loan aid":'StudLoan',
"Percent of freshmen receiving federal student loans":'RecAnyFederalLoan',
"Percent of freshmen receiving other loan aid":'AnyotherLoan',
"Total enrollment":'TotalEnrollment'}

In [5]:
col=['Name','App_total','Admissions total','Enrolled total',
     "Number of students receiving an Associate's degree",
"Number of students receiving a Bachelor's degree",
"Number of students receiving a Master's degree",
"Number of students receiving a Doctor's degree",
"Number of students receiving a certificate of less than 1-year",
"Number of students receiving a certificate of 1 but less than 4-years",
"Number of students receiving a Postbaccalaureate or Post-master's certificate",
     "Percent admitted - total",
"Admissions yield - total",
"Tuition and fees, 2010-11",
"Tuition and fees, 2011-12",
"Tuition and fees, 2012-13",
"Tuition and fees, 2013-14",
"Total price for in-state students living on campus 2013-14",
"Total price for out-of-state students living on campus 2013-14",
"State abbreviation",
"Graduation rate - Bachelor degree within 4 years, total",
"Percent of freshmen receiving any financial aid","Percent of freshmen receiving student loan aid",
"Percent of freshmen receiving federal student loans",
"Percent of freshmen receiving other loan aid",
"Endowment assets (year end) per FTE enrollment (GASB)",
"Endowment assets (year end) per FTE enrollment (FASB)","Total enrollment"]

In [6]:
university.rename(columns=colRename,inplace=True)

In [7]:
university[colRename.values()].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1534 entries, 0 to 1533
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   University_name               1534 non-null   object
 1   App_total                     1377 non-null   float64
 2   Admi_total                    1377 non-null   float64
 3   Enroll_total                  1377 non-null   float64
 4   NoStudRecAssDegree            1532 non-null   float64
 5   NoStudRecBachDegree           1532 non-null   float64
 6   NoStudRecMasterDegree         1532 non-null   float64
 7   NoStudRecDocterDegree         1532 non-null   float64
 8   NOStudfor1yrCerti             1532 non-null   float64
 9   NoOfStudLess4Certi            1532 non-null   float64
 10  NoStudPostMasterCerti         1532 non-null   float64
 11  PercentAdmitted-total         1376 non-null   float64
 12  AdmissionsYield-total         1376 non-null   float64
 13  Tuition&fees-2010-11          1490 non-null   float64
 14  Tuition&fees-2011-12          1490 non-null   float64
 15  Tuition&fees-2012-13          1492 non-null   float64
 16  Tuition&fees-2013-14          1497 non-null   float64
 17  totalPriceInStateStud2013-14  1400 non-null   float64
 18  totalPriceInStateStud2013-14  1400 non-null   float64
 19  totalPriceInStateStud2013-14  1400 non-null   float64
 20  totalPriceInStateStud2013-14  1400 non-null   float64
 21  State_abbreviation            1534 non-null   object
 22  Graduation%within4yrBachlor   1476 non-null   float64
 23  PFRecAnyFinancialAid          1492 non-null   float64
 24  StudLoan                      1492 non-null   float64
 25  RecAnyFederalLoan             1492 non-null   float64
 26  AnyotherLoan                  1492 non-null   float64
 27  TotalEnrollment               1532 non-null   float64
dtypes: float64(26), object(2)
memory usage: 335.7+ KB

In [19]:
df1=pd.DataFrame(university[colRename.values()].isnull().sum())
df1[df1.values >1][0]

App_total                       157
Admi_total                      157
Enroll_total                    157
NoStudRecAssDegree                2
NoStudRecBachDegree               2
NoStudRecMasterDegree             2
NoStudRecDocterDegree             2
NOStudfor1yrCerti                 2
NoOfStudLess4Certi                2
NoStudPostMasterCerti             2
PercentAdmitted-total           158
AdmissionsYield-total           158
Tuition&fees-2010-11             44
Tuition&fees-2011-12             44
Tuition&fees-2012-13             42
Tuition&fees-2013-14             37
totalPriceInStateStud2013-14    134
totalPriceInStateStud2013-14    134
totalPriceInStateStud2013-14    134
totalPriceInStateStud2013-14    134
Graduation%within4yrBachlor      58
PFRecAnyFinancialAid             42
StudLoan                         42
RecAnyFederalLoan                42
AnyotherLoan                     42
TotalEnrollment                   2
Name: 0, dtype: int64

In [23]:
plt.figure(figsize=(8,5))
sns.barplot(x=df1[df1.values >1][0],y=df1.key())

AttributeError: 'DataFrame' object has no attribute 'key'

In [10]:
university['Name'].nunique()

KeyError: 'Name'

In [ ]:
 for i in university.columns:
    print(i)

In [ ]:
university.head()