In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [38]:
df=pd.read_csv('EcommerceCustomers',delimiter=',')

In [42]:
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [43]:
df.columns

Index(['Email', 'Address', 'Avatar', 'Avg. Session Length', 'Time on App',
       'Time on Website', 'Length of Membership', 'Yearly Amount Spent'],
      dtype='object')

In [44]:
Ecom_df=df[['Avg. Session Length', 'Time on App',
       'Time on Website', 'Length of Membership', 'Yearly Amount Spent']]

In [45]:
## #LinearRegression
Ecom_df.head()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,34.497268,12.655651,39.577668,4.082621,587.951054
1,31.926272,11.109461,37.268959,2.664034,392.204933
2,33.000915,11.330278,37.110597,4.104543,487.547505
3,34.305557,13.717514,36.721283,3.120179,581.852344
4,33.330673,12.795189,37.536653,4.446308,599.406092

In [46]:
X=Ecom_df[['Avg. Session Length', 'Time on App','Time on Website', 'Length of Membership']].values
y=Ecom_df['Yearly Amount Spent'].values

In [47]:
x_train,x_test,y_train,y_test=train_test_split(X,y,random_state=101,test_size=0.3)

In [48]:
print('Xtrain:',x_train.shape)
print('Xtest:',x_test.shape)
print('Ytrain:',y_train.shape)
print('Ytest:',y_test.shape)

Xtrain: (350, 4)
Xtest: (150, 4)
Ytrain: (350,)
Ytest: (150,)

In [49]:
mlModel=LinearRegression()
mlModel.fit(x_train,y_train)

# predict the values
y_pred=mlModel.predict(x_test)

In [50]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
print('r2_score:- ',r2_score(y_test,y_pred))
print('MSE:-' ,mean_squared_error(y_test,y_pred))
print('MAE:- ',mean_absolute_error(y_test,y_pred))

r2_score:-  0.9890046246741233
MSE:- 79.81305165097484
MAE:-  7.228148653430853

## #Using PolynomialFeature

In [72]:
poly_conv=PolynomialFeatures(degree=2,include_bias=False)
ploy_x=poly_conv.fit_transform(X)

In [73]:
x1_train,x1_test,y1_train,y1_test=train_test_split(ploy_x,y,random_state=101,test_size=0.3)

In [74]:
mlModel=LinearRegression()
mlModel.fit(x1_train,y1_train)

# predict the values
poly_y_pred=mlModel.predict(x1_test)

In [75]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
print('r2_score:- ',r2_score(poly_y_pred,y1_test))
print('MSE:-' ,mean_squared_error(poly_y_pred,y1_test))
print('MAE:- ',mean_absolute_error(poly_y_pred,y1_test))

r2_score:-  0.9879657911275027
MSE:- 85.34745505512377
MAE:-  7.432195703827325

In [76]:
mlModel.coef_

array([ 8.62205925e+01,  4.23488013e+01, -3.70180338e+01,  6.94610748e+01,
       -8.52575304e-01, -1.63938829e-01, -6.96300892e-02,  1.54747525e-01,
        4.09647871e-01, -2.23931429e-01,  4.22973815e-02,  5.86109438e-01,
       -3.63615756e-01, -4.29311091e-02])