# Feature Extraction

In [78]:
with open('textone.txt') as f:
    txt1 = f.read().split()

In [79]:
words_one = set(txt1)

In [80]:
with open('texttwo.txt') as f:
    txt2 = f.read().split()

In [81]:
words_two = set(txt2)

In [82]:
words_comine = set()

In [83]:
words_comine.update(words_one)

In [84]:
words_comine

{'and', 'are', 'cute', 'dog', 'furry', 'gog', 'hoenst', 'is', 'so', 'this'}

In [85]:
words_comine.update(words_two)

In [86]:
words_comine

{'and',
 'are',
 'cute',
 'danger',
 'dog',
 'furry',
 'gog',
 'good',
 'hoenst',
 'is',
 'so',
 'sometime',
 'this'}

In [87]:
## add number to each word.
word_dict = dict()

In [88]:
i=0
for word in words_comine:
    word_dict[word]=i
    i +=1

In [89]:
word_dict

{'dog': 0,
 'gog': 1,
 'furry': 2,
 'so': 3,
 'are': 4,
 'sometime': 5,
 'is': 6,
 'cute': 7,
 'hoenst': 8,
 'this': 9,
 'danger': 10,
 'good': 11,
 'and': 12}

## Bag of Words to Frequency Counts

Now that we've encapsulated our "entire language" in a dictionary, let's perform *feature extraction* on each of our original documents:

In [108]:
one_freq = [0]* len(word_dict)
two_freq = [0]* len(word_dict)
all_words = ['']*len(word_dict)

In [109]:
one_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [110]:
two_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [111]:
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '']

In [112]:
for words in word_dict:
    word_ind = word_dict[words]
    all_words[word_ind]=words

In [113]:
all_words

['dog',
 'gog',
 'furry',
 'so',
 'are',
 'sometime',
 'is',
 'cute',
 'hoenst',
 'this',
 'danger',
 'good',
 'and']

**Add in counts per word per doc:**

In [114]:
with open('textone.txt') as f:
    txt1 = f.read().lower().split()
    
for word in txt1:
    word_index = word_dict[word]
    one_freq[word_index] +=1

In [115]:
one_freq

[2, 1, 2, 1, 2, 0, 1, 1, 1, 1, 0, 0, 1]

In [116]:
with open('texttwo.txt') as f:
    txt1 = f.read().lower().split()
    
for word in txt1:
    word_index = word_dict[word]
    two_freq[word_index] +=1

In [117]:
two_freq

[3, 0, 2, 0, 1, 2, 2, 0, 0, 0, 1, 2, 2]

In [118]:
import pandas as pd

In [119]:
df = pd.DataFrame(data=[one_freq,two_freq],columns=all_words)

In [120]:
df

,dog,gog,furry,so,are,sometime,is,cute,hoenst,this,danger,good,and
0,2,1,2,1,2,0,1,1,1,1,0,0,1
1,3,0,2,0,1,2,2,0,0,0,1,2,2